/* =================================================
General Styles
==================================================== */

* {
    padding: 0;
    margin: 0;
}

/* =================================================
==================================================== */


/* =================================================
Colors & Fonts
==================================================== */

/* General */

html {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

/* /General */

/* Navigation Bar */

.navbar {
    background-color: #1F2937;
}

.container h1 {
    color: #F9FAF8;
    font-size: 24px;
}

.container ul li {
    color: #E5E7EB;
    font-size: 18px;
}

/* /Navigation Bar */

/* =================================================
==================================================== */


/* =================================================
Navigation Bar Layout
==================================================== */

.container {
    max-width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
}

.container ul li {
    padding: .2em;
    margin: .2em;
    display: inline-block;
}

.item {
    flex: 1;
}

/* =================================================
==================================================== */


/* =================================================

==================================================== */



/* =================================================
==================================================== */